@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color: #42B2BC;
    --secondary-color: #1E5156;
    --gradient-bg:linear-gradient(to bottom, #42B2BC, #1E5156);
    --black-color:#2F2F2F;
}

.banner{
    background-image: url('../../public/Banner.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* In your CSS or stylesheets */
@keyframes pop-up {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animate-pop {
    animation: pop-up 1s ease-out;
    -webkit-animation: pop-up 0.4s ease-out;
}

