.imagesetrequest{
    background-color: aquamarine;
    background: url('../../../../../public/admin/register.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}